@use '../1-abstracts/functions' as fu;
@use '../1-abstracts/mixins' as m;

.features {
    padding-top: fu.toRem(58px);
    width: 99%;
    max-width: fu.toRem(400px);

    @include m.breakpoint-up(medium-xsmall) {
        width: 80%;
        
        
        max-width: fu.toRem(750px);
    }

    @include m.breakpoint-up(xxmedium) {
        width: 99%;
    }

    @include m.breakpoint-up(xxlarge) {
        width: 98%;

        // arbitrary value
        max-width: fu.toRem(1400px);
    }

    .feature {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        height: fu.toRem(492px);

        @include m.breakpoint-up(xxmedium) {
            flex-flow: row-reverse nowrap;
            justify-content: space-around;
            height: 34vw;
            max-height: fu.toRem(400px);
        }

        @include m.breakpoint-up(xxxlarge) {

        }

        &:not(:first-child) {
            margin-top: fu.toRem(32px);
        }
        
        &:first-child {

            .text {
                padding-top: fu.toRem(28px);
            }
        }

        &:nth-child(2) {

            @include m.breakpoint-up(xxmedium) {
                flex-flow: row nowrap;
            }
            
        }
    }

    .illustration {
        width: 71%;
        margin: auto 0 0;
        max-width: fu.toRem(276px);

        @include m.breakpoint-up(xxmedium) {
            margin-top: 0;
            width: 33%;

            // arbitrary value
            max-width: fu.toRem(376px);
        }
    }

    .text {
        padding: fu.toRem(58px) fu.toRem(40px) fu.toRem(36px);

        @include m.breakpoint-up(xxmedium) {
            width: 40%;
            padding: 0 0;
        }

        .para {
            padding: fu.toRem(18px) 0;
            max-width: fu.toRem(415px);
        }
    }
}