@use '../1-abstracts/functions' as fu;
@use '../1-abstracts/colors' as c;
@use '../1-abstracts/mixins' as m;

footer {
    margin-top: fu.toRem(230px);
    background-color: c.$veryDarkCyan;


    .footer {
        width: var(--container-width);
        max-width: var(--wrapper-child-max-width);
        margin-top: calc(-1 * #{fu.toRem(68px)});
        padding: fu.toRem(136px) fu.toRem(5px) fu.toRem(50px);
        display: flex;
        flex-flow: column nowrap;

        @include m.breakpoint-up(small) {
            align-items: center;
        }

        @include m.breakpoint-up(large) {
            align-items: start;
            padding-left: 0;
            padding-right: 0;
        }
        

        .logo {
            width: 48%;
            max-width: fu.toRem(220px);
            height: auto;

            svg {
                path {
                    fill: white;
                }
            }
        }

        .sub-logo {
            display: flex;
            flex-flow: column nowrap;
            padding-top: fu.toRem(26px);

            @include m.breakpoint-up(small) {
                align-items: center;
                padding-top: fu.toRem(50px);
            }

            @include m.breakpoint-up(large) {
                flex-flow: row nowrap;
                align-items: start;
                width: 100%;                
                max-width: fu.toRem(720px);
                justify-content: space-between;
            }

            @include m.breakpoint-up(xx1large) {
                width: 89%;
                max-width: var(--wrapper-child-max-width); // arbitrary value
            }
        }
        
        .info {
            width: 85%;
            max-width: fu.toRem(350px);
            
            display: grid;
            grid-template-columns: 1fr auto;
            gap: fu.toRem(26px);
            align-items: center;
            
            @include m.breakpoint-up(large) {
                width: 45%;
            }

            .icon {
                width: 1rem;

                &:first-of-type{
                    align-self: start;
                    justify-self: center;
                }
            }
        }

        .links {
            padding-top: fu.toRem(38px);
            display: flex;
            flex-flow: column nowrap;

            @include m.breakpoint-up(medium) {
                width: 80%;
                justify-content: space-evenly;
                flex-flow: row nowrap;
            }

            @include m.breakpoint-up(large) {
                padding-top: 0;
                width: 35%;
                flex-grow: 1;
                max-width: fu.toRem(526px);
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            li {
                padding-top: fu.toRem(28px);
                
                &:first-child {

                    @include m.breakpoint-up(large) {
                        padding-top: 0;
                    }
                }

                a {
                    position: relative;
    
                    &::after {
                        content: "";    
                        background-color: white;
                        position: absolute;
                        left: 0;
                        top: 100%;
                        width: 100%;
                        height: 1px;
                        opacity: 0;
                        transition: opacity var(--transition) ease-in-out;
                    }
    
                    &:hover::after {
                        opacity: 1;
                    }
                }
            }
        }

        .socials {
            padding-top: fu.toRem(56px);
            margin: 0 auto;
            width: 33%;
            max-width: fu.toRem(132px);
            display: flex;
            justify-content: space-between;
            
            @include m.breakpoint-up(small) {
                padding-top: fu.toRem(70px);
            }

            @include m.breakpoint-up(large) {
                padding-top: 0;
                width: 20%;
                margin: 0;
            }

            .icon {
                --d: #{fu.toRem(28px)};
                width: var(--d);
                height: var(--d);
                border: fu.toRem(1px) solid white;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: border-color var(--transition) ease-in-out;
                position: relative;
                cursor: pointer;

                &:hover {
                    border-color: c.$grayishBlue;

                    svg path {
                        fill: c.$grayishBlue;
                    }

                    .tooltip {
                        opacity: 1;
                    }
                }

                .tooltip {
                    position: absolute;
                    // bottom: 110%;
                    top: -120%;
                    opacity: 0;
                    background-color: c.$veryDarkCyan-v1;
                    border-radius: fu.toRem(5px);
                    padding: fu.toRem(5px);
                    transition: opacity var(--transition) ease-in-out;
                }

                svg {
                    width: 50%;
                    height: 50%;

                    path {
                        transition: fill var(--transition) ease-in-out;
                    }
                }
            }
        }

        .copyright {
            padding-top: fu.toRem(22px);

            @include m.breakpoint-up(large) {
                padding-top: fu.toRem(40px);
                // align-self: end;
                margin-left: auto;
            }
        }
    }

}