@use '../1-abstracts/functions' as fu;

header {
    width: var(--container-width);
    padding-top: fu.toRem(22px);
    display: flex;
    justify-content: space-between;
    // align-items: center;
    height: fu.toRem(50px);
}